.GridContainer{
  composes: container from "bootstrap/dist/css/bootstrap.min.css";
}
.GridRow{
  composes: row from "bootstrap/dist/css/bootstrap.min.css";
}
.Grid12{
  composes: col-12 from "bootstrap/dist/css/bootstrap.min.css";
}

.Nav {
 composes: nav from "bootstrap/dist/css/bootstrap.min.css";
}

.NavItem {
  composes:  nav-item from "bootstrap/dist/css/bootstrap.min.css";
  composes: Circle from './main.scss'
}

.NavLink {
  composes:  nav-link from "bootstrap/dist/css/bootstrap.min.css";
}
