@import "./colors";
.Container{
  composes : container from 'bootstrap/dist/css//bootstrap-grid.min.css';
}
.Row {
  composes : row  from 'bootstrap/dist/css//bootstrap-grid.min.css'
}
.fullRow {
  composes : col-12 from 'bootstrap/dist/css//bootstrap-grid.min.css'
}
.logo {
  text-align: center;
}
.copyRight {
  text-align: center;
  composes : enFont from './index.scss';
  a {
    font-size: 16px;
    color : $aquaMarine;
    text-decoration: none;
    font-weight: normal;
  }
}
footer {
  border-top: 1px solid white;
  padding: 20px 0;
}
header {
  padding: 20px 0;
  border-bottom: 1px solid white;
}
