@import "./colors";

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: $bodyBg;
  z-index: 999;
  overflow-y: scroll;
  .closeIcon {
    width: 50px;
    height: 50px;
    fill: white;
    margin: 10px;
  }
  button {
    background: transparent;
    border: 0;
  }
  .CalculatorPopup {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    margin:0 auto;
    background: white;
    height: 100%;
    z-index: 999;
    @media screen and (max-width: 991px){
      width: 90%;
    }
    .title {
      background-color: $yellow;
      color: $fontColor;
      font-size: 16px;
      margin:0;
      padding: 10px;
      text-align: center;
    }
    .mainBox {
      padding:0 15px;
      min-height: 224px;
      background: white;
      margin-bottom: 13px;
      p{
        color: $fontColor;
        margin-bottom: 25px;
      }
      label{
        font-size: 14px;
      }
      input[type="text"] {
        border-radius: 5px;
        border: 1px solid $lightGray;
        color: $darkGray;
        font-family: iranyekan;
        line-height: 35px;
        margin-right: 25px;
        margin-bottom: 25px;
      }
      .option {
        margin-right: 90px;
      }
      .resultBox {
        background-color: $darkBox;
        border-radius: 5px;
        font-size: 14px;
        padding:10px;
        table {
          tr {
            td {
              width: 70%;
              padding:10px;
            }
          }
        }
      }
      .calculateButton {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 25px;
        button {
          background-color: $yellow;
          border:0;
          border-radius: 5px;
          font-family: iranYekan;
          width: 46%;
          min-height: 57px;
        }
        span {
          position: relative;
          top: -9px;
          padding-right: 35px;
        }
        svg {
          width: 26px;
          height: 30px;
        }
      }
      .refreshForm {
        text-align: center;
        color: $aquaMarine;
        padding: 20px 0;
        button {
          color: $aquaMarine;
          font-size: 16px;
          font-weight: bold;
          font-family:iranYekan;
          padding: 0 10px;
        }
      }
      .paymeny {
        margin-top: 25px;
      }
      .financeNo {
        margin: 20px 0 50px;
        .containerNo {
          margin-bottom: 10px;
        }
        .containerNo2 {
          margin-bottom: 10px;
          margin-right: 80px;
        }
        .NumberContainer {
          position: relative;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: $darkGray;
          input {
            opacity: 0;
            cursor: pointer;
            margin-left: 28px;
            position: relative;
            right: 52px;
            &:checked {
              & ~ .checkNo {
                background-color: $yellow;
                border: 1px solid $yellow;
                &:after {
                  background-color: $yellow;
                }
              }
            }
          }
          .checkNo {
            position: absolute;
            top: 10%;
            right: 100%;
            height: 34px;
            width: 34px;
            background-color: $lightGray;
            border: 1px solid $fontColor2;
            border-radius: 50%;
            text-align: center;
            font-size:18px;
            color: $darkGray;
          }
        }
      }
      .radioContainer {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-right: 46px;
        color: $darkGray;
        @media screen and (max-width: 991px){
          margin-left: 13%;
        }
        @media screen and (max-width: 500px){
          margin-left: 20%;
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          &:checked {
            & ~ .checkRadio {
              background-color: white;
              border: 1px solid $yellow;
              &:after {
                background-color: $yellow;
              }
            }
          }
        }
        .checkRadio {
          position: absolute;
          top: 10%;
          right: 10px;
          height: 20px;
          width: 20px;
          background-color: white;
          border: 1px solid $fontColor2;
          border-radius: 50%;
          &:after {
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $fontColor2;
            content: "";
            position: absolute;
          }
        }
      }
    }
  }
}
.errors {
  color: $red;
  font-size: 12px;
}
