$bodyBg : #293f4d;
$fontColor : #424242;
$fontColor2 : #d2d2d2;

$bodyBg2 : #344956;
$darkGray : #9e9e9e;
$lightGray : #f1f1f1;
$lightGray2 : #f9f9f9;
$aquaMarine : #4dd0e1;
$darkBox : #eff2f5;
$green: #27c07a;
$yellow : #ffd670;
$red : #e1594d;
