@import "./colors";

.Container {
  composes: container from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.Row {
  composes: row from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.fullRow {
  composes: col-12 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.halfRow {
  composes: col-6 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.contactTextInputsColumn {
  composes: col-5 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.contactTextAreaColumn {
  composes: col-7 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.leftAlign {
  text-align: left;
}
.contactTitle {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.lighBox {
  background-color: $bodyBg2;
  padding: 17px 50px 60px;
  border-radius: 5px;
}
.contactForm {
  background-color: #3e525e;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  h3 {
    background: #596a74;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 0 10px;
    font-family: iranyekan;
    color: $fontColor;
    &::placeholder {
      color: $fontColor2;
      font-size: 14px;
      padding: 0 5px;
      font-weight: normal;
    }
  }
  textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 93%;
    padding: 10px;
    font-family: iranyekan;
    color: $fontColor;
    &::placeholder {
      color: $fontColor2;
      font-size: 14px;
      padding: 0 5px;
      font-weight: normal;
    }
  }
  button {
    font-family: iranyekan;
    background: $green;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    margin-left: 48px;
    margin-bottom: 33px;
  }
  .mainForm {
    padding: 20px 50px;
  }
}
