@import "./colors";
.pageTitle {
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: $aquaMarine;
  @media screen and (max-width: 420px){
    font-size: 18px;
  }
}
.pageContainer {
  composes: container from "bootstrap/dist/css//bootstrap-grid.min.css";
  font-size: 14px;
}
.formRow {
  composes: row from "bootstrap/dist/css/bootstrap-grid.min.css";
}
.formColumnOneThird {
  @media (min-width: 576px) {
    composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 768px) {
    composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 992px) {
    composes: col-md-6 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 1200px) {
    composes: col-lg-4 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
}
.formColumnOneFour {
  composes: col-md-3 from "bootstrap/dist/css/bootstrap-grid.min.css";
  @media(max-width: 767px){
    composes: col-sm-4 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
}
.formColumnOne {
  composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
}
.formColumnOneTWo {
  composes: col-6 from "bootstrap/dist/css/bootstrap-grid.min.css";
  @media (min-width: 576px) {
    composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 768px) {
    composes: col-sm-6 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 992px) {
    composes: col-md-6 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 1200px) {
    composes: col-lg-6 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
}

.formColumnFive{
  @media (min-width: 576px) {
    composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 768px) {
    composes: col-sm-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 992px) {
    composes: col-md-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 1200px) {
    composes: col-lg-5 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
}
.formColumnSeven {
  @media (min-width: 576px) {
    composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 768px) {
    composes: col-sm-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 992px) {
    composes: col-md-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
  @media (min-width: 1200px) {
    composes: col-lg-7 from "bootstrap/dist/css/bootstrap-grid.min.css";
  }
}

.contentContainer {
  composes: col-12 from "bootstrap/dist/css//bootstrap-grid.min.css";
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 0;
  margin: auto auto 90px;
  input[type="text"] {
    line-height: 50px;
    border-radius: 5px;
    border: 1px solid $lightGray;
    color: $darkGray;
    padding: 0 12px;
    font-family: iranyekan;
    width: 100%;
    margin-bottom: 35px;
    &::placeholder {
      color:$darkGray;
    }
    &:focus{
      outline: 0;
    }
  }
  label {
    display: block;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    color: $fontColor;
    margin: 0 auto 20px;
    .subtitle {
      font-size: 12px;
      color: $fontColor2;
      line-height: 35px;
      border-right: 1px solid $lightGray;
      padding-right: 15px;
      margin-right: 15px;
      span {
        color: #fb962c;
      }
      @media screen and (max-width: 991px){
        line-height: 20px;
        padding-right: 0;
        display: block;
        margin-right: 0;
        border-right: 0;
      }
    }
  }
  .notice {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba($yellow, 0.2);
    p {
      color: $fontColor;
      margin: 0;
    }
  }
  hr {
    // border: 1px solid $fontColor2;
    background-color: $fontColor2;
    border: 0;
    height: 1px;
  }
  p {
    margin: 10px auto;
    color: $fontColor;
    font-size: 16px;
  }
  .centeredText {
    text-align: center;
    padding: 30px 0;
  }
  .body {
    padding: 40px 30px;
  }
  .footer {
    background-color: $lightGray2;
    border-radius: 0 0 5px 5px;
    position: relative;
    min-height: 100px;
    @media screen and (max-width: 991px){
      padding: 10px 0;
    }
    .nextStepBtn {
      position: absolute;
      left: 50px;
      top: 25px;
      height: 50px;
      width: 285px;
      background-color: $aquaMarine;
      border: 0;
      border-radius: 5px;
      font-family: iranyekan;
      color: #ffffff;
      font-size: 16px;
      @media screen and (max-width: 991px){
        position: unset;
        display: block;
        margin: 10px auto;
      }
      @media screen and (max-width: 360px){
        width: 200px
      }
    }
    .prevStepBtn {
      margin-right: 50px;
      margin-top: 25px;
      height: 50px;
      width: 285px;
      background-color: $lightGray2;
      border: 1px solid $fontColor2;
      border-radius: 5px;
      font-family: iranyekan;
      color: $darkGray;
      font-size: 16px;
      @media screen and (max-width: 991px){
        position: unset;
        display: block;
        margin: 0 auto;
      }
      @media screen and (max-width: 360px){
        width: 200px
      }
    }
    .checkBoxContainer {
      display: inline-block;
      position: relative;
      padding-right: 75px;
      margin-bottom: 12px;
      padding-top: 33px;
      @media screen and (max-width: 991px){
        padding-top:0;
        padding-right: 41px;
      }
      color: #fb962c;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkBoxContainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 42px;
      right: 50px;
      height: 16px;
      width: 16px;
      border: 1px solid #fb962c;
      border-radius: 5px;
      @media screen and (max-width: 991px){
        right: 15px;
        top : 9px;
      }
    }

    /* On mouse-over, add a grey background color */
    .checkBoxContainer:hover input ~ .checkmark {
      background-color: #ffffff;
    }

    /* When the checkbox is checked, add a blue background */
    .checkBoxContainer input:checked ~ .checkmark {
      background-color: #ffffff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .checkBoxContainer input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkBoxContainer .checkmark:after {
      left: 5px;
      top: -3px;
      width: 8px;
      height: 15px;
      border: solid #fb962c;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .marriageSelect {
    padding-top: 16px;
    margin-bottom: 50px;
    .marriageTitle {
      margin-left: 40px;
      @media screen and (max-width: 1199px){
        margin-left: 16px;
      }
      @media screen and (max-width: 991px){
        margin-left: 47px;
      }
      @media screen and (max-width: 500px){
        display: block;
        margin-bottom: 9px;
      }
    }
    .radioContainer {
      display: inline-block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-left: 20%;
      padding-left: 10px;
      color: $darkGray;
      @media screen and (max-width: 991px){
        margin-left: 13%;
      }
      @media screen and (max-width: 500px){
        margin-left: 20%;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked {
          & ~ .checkRadio {
            background-color: white;
            border: 1px solid $yellow;
            &:after {
              background-color: $yellow;
            }
          }
        }
      }
      .checkRadio {
        position: absolute;
        top: 10%;
        right: 100%;
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid $fontColor2;
        border-radius: 50%;
        &:after {
          top: 6px;
          left: 6px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $fontColor2;
          content: "";
          position: absolute;
        }
      }
    }
  }
  .inputSameStyles {
    input {
      width: 30%;
      margin-bottom: 30px;
      @media screen and (max-width: 991px){
        width: 100%;
      }
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  .finallStep {
    .bgGrey {
      background-color: #f7f7f7;
      border-radius: 5px;
    }
    .titleBg {
      background-color: $lightGray;
      display: inline-block;
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        width: 30%;
        padding: 15px 19px 6px;
        @media screen and (max-width: 991px){
          width: 100%;
        }
      }
    }
    .detailsBox {
      padding: 10px 20px;
    }
  }
}
.birthdayTitle {
  composes: col-md-3 from "bootstrap/dist/css/bootstrap-grid.min.css";
  padding-top: 12px;
  padding-right: 20px;
  @media(max-width: 767px){
    composes: col-sm-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
    margin-bottom: 10px;
  }
}
.buttonEdit {
  float: left;
  display: inline-block;
  color:$aquaMarine;
  font-size: 14px;
  svg {
    fill: $aquaMarine;
    width: 20px;
    height: 20px;
  }
}
.editBox {
  background-color: $lightGray;
  min-height: 48px;
  padding: 10px 20px;
  .editIcon {
    top: 7px;
    position: relative;
    left: 6px;
  }
  .editTitle {
    @media screen and (max-width: 450px){
      display: none;
    }
  }
}
.errors {
  position: relative;
  top: -17%;
  color: $red;
  font-size: 12px;
}
.errorsMarriage {
  position: relative;
  top: 3%;
  color: $red;
  font-size: 12px;
}
.errorsCheckBox {
  position: relative;
  top: -9%;
  color: #e1594d;
  font-size: 12px;
  right: 5%;
}
