@import "./colors";
.Container {
  composes: container from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.Row {
  composes: row from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.fullRow {
  composes: col-12 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.halfRaow {
  composes: col-6 from "bootstrap/dist/css//bootstrap-grid.min.css";
}
.leftAlign {
  text-align: left;
}
section {
  margin-bottom: 20px;
}
h2 {
  font-size: 24px;
  color: $aquaMarine;
}
p {
  color: white;
  margin-bottom: 50px;
}

ol {
  min-height: 180px;
  li {
    color: white;
  }
}
h4 {
  color: $aquaMarine;
  font-size: 18px;
  font-weight: bold;
}
a {
  color: $aquaMarine;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.financeDec {
  padding: 98px 0;
  .request {
    background-color: $green;
    color: white;
    font-size: 16px;
    padding: 19px 128px;
    border-radius: 5px;
    line-height: 80px;
    text-decoration: none;
  }
}
.lighBox {
  background-color: $bodyBg2;
  padding: 17px 50px 60px;
  border-radius: 5px;
}
.otherLogo {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  margin-left: 20px;
}
.financeTitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
.financeLink {
  background-color: $aquaMarine;
  font-size: 18px;
  font-weight: bold;
  color: #2f4858;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 38px;
}
.middleAlign {
  display: flex;
  align-items: center;
}
.justifyEndMiddle {
  justify-content: flex-end;
  @extend .middleAlign;
}
.calculator {
  border: 1px solid $yellow;
  border-radius: 5px;
  color: $yellow;
  padding: 14px 70px;
  font-size: 18px;
  background: transparent;
  font-family: iranYekan;
}
.phoneContainer {
  padding: 40px 0;
  text-align: center;
  p {
    color: $aquaMarine;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
  }
  .phone {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.44;
  }
}
