@import './colors.scss';
@import './font.scss';
body {
  background-color: $bodyBg;
  margin: 0;
  padding: 0;
  font-family: iranyekan;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color : $fontColor ;
}
.enFont {
  font-family: montserrat;
  font-weight: normal;
}
