@import "./colors";
.navigation{
  list-style: none;
  margin: 0  auto 70px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: list-item;
  height: 100px;
  li {
    position: relative;
    display: inline-block;
    &::after{
      content: "";
      width: 80px;
      height: 1px;
      background: white;
      position: absolute;
      top: 26px;
      right: 70%;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .activeNo {
    color:white;
  }
  .activeGreen{
    color: $green;
    .navIcons {
      border:1px solid $green;
      svg {
        fill:$green;
      }
    }
  }
  .activeStep {
    color: $aquaMarine;
    .navIcons {
      border:1px solid $aquaMarine;
      svg {
        fill: $aquaMarine;
      }
    }
  }
  .navIcons {
    border: 1px solid white;
    border-radius: 50%;
    display: block;
    width: 53px;
    height: 53px;
    padding-top: 8px;
    margin: 0 41px;
    svg {
      width: 32px;
      height: 32px;
      fill: white;
    }
  }
  .navigationTitle{
    top: 6px;
    position: relative;
  }
}
