@import "./colors";
.container {
  composes: container from "bootstrap/dist/css//bootstrap-grid.min.css";
  font-size: 14px;
}
.row {
  composes: row from "bootstrap/dist/css/bootstrap-grid.min.css";
}
.columnOne {
  composes: col-12 from "bootstrap/dist/css/bootstrap-grid.min.css";
}
.status {
  text-align: center;
  margin:220px auto 400px;
  h1 {
    font-size: 24px;
    color: $aquaMarine;
    @media screen and (max-width: 991px){
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    color: white
  }
  input {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 0;
    margin-left: 10px;
    margin-bottom: 30px;
    font-family: iranyekan;
    padding: 10px;
    &::placeholder {
      font-size: 14px;
      color: $fontColor2;
      padding: 0 10px;
      font-family: iranyekan;
    }
    @media screen and (max-width: 991px){
      width:80%
    }
  }
  .statusButton {
    border-radius: 5px;
    background-color: $green;
    font-size: 14px;
    color: white;
    padding: 11px 24px;
    border:0;
    font-family: iranyekan;
    @media screen and (max-width: 991px){
      display: block;
      width: 50%;
      margin: 0 auto;
    }
    @media screen and (max-width:452px){
      width: 80%;
    }
  }
}
.statusPage {
  text-align: center;
    margin: 180px auto 400px;
  P {
    color: white;
    font-size: 16px;
  }
  h1 {
  font-size: 24px;
  font-weight: bold;
  color: $aquaMarine;
  @media screen and (max-width: 767px){
    font-size: 20px;
  }
  }
  .request {
    background-color: white;
    font-size: 16px;
    padding: 10px 19px;
    border-radius: 5px;
    text-decoration: none;
    color: $fontColor;
    font-weight: normal;
    @media screen and (max-width: 767px){
      display: block;
      width: 50%;
      margin: 0 auto;
      margin-top: 10px;
      font-size: 13px;
    }
    @media screen and (max-width: 485px){
      width: 90%;
    }
  }
  button {
    background-color: $aquaMarine;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 19px;
    border: 0;
    color: $fontColor;
    font-family: iranyekan;
    text-align: right;
    margin-left: 25%;
    @media screen and (max-width: 767px){
      padding: 10px 40px;
      margin-left: 0;
      font-size: 13px;
    }
    svg {
      fill: $fontColor;
      width: 20px;
      height: 20px;
      top: 4px;
      position: relative;
    }
    span {
      position: relative;
      top: -4px;
      right: 6px;
    }
  }
  .refreshCode {
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $yellow ;
    font-size: 16px;
    color: $fontColor;
    padding: 20px 0;
    position: relative;
    @media screen and (max-width: 991px){
      width: 80%;
    }
    @keyframes placeHolderShimmer{
      0%{
          background-position: -368px 0
      }
      100%{
          background-position: 368px 0
      }
    }
  }
  .showFetching  {
    min-height: 150px;
    .showBgAnimate{
      animation-duration: 10s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      border-radius: 10px;
      background: #fce205;
      background:linear-gradient(-61deg,#fce205 20%, #ffd300 50%,#fce205 60%);
      height: 50%;
      position: absolute;
      z-index: 99999999999999;
      top: 20px;
      width: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;

    }
  }

  .showStatus {
    min-height: 150px;
    padding-top: 20px;
  }
  .bgAnimate {
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    border-radius: 10px;
    background: #eeeeee;
    background:linear-gradient(-61deg,#eeeeee 40%,#f5f5f5 50%,#eeeeee 60%);
  }
}
